body {
    background: #406343;
}

#header {
    border: 6px solid #444941;
    border-radius: 10px;
    background: #fefae0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: 30px;
    color: #3D0000;
    padding: 5px;
    font-family: fantasy;
    margin-bottom: 20px;
}
.main {
    border: 6px solid #444941;
    border-radius: 10px;
    margin: 0px auto 0px;
    overflow: auto;
    padding: 10px;
    background: #fefae0;
    color: #3D0000;
    font-size: 30px;
    width: 730px;
    height: 100%;
    font-family: fantasy;
    font-style: italic;
}

h1{
    margin: 10px;
    color: #3D0000;
    font-size: 30px;
}
h2 {
    color: #3D0000;
    font-size: 100%;
    font-style: italic;
    font-family: fantasy;
    text-align: left;
    margin: 20px 10px 5px;
}

.warn-checkbox {
    margin: 0px 0px 0px 10px;
    color: red;
}
.warn-text {
    border-color: red;
}

iframe {
    border-width: 0px;
    width: 100%;
    height: 270px;
}

input{
    color: black;
    margin: 0px 10px 3px;
}


/*BUTTONS styles*/
.button {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    border-color: #718355;
    border-style: solid;
    background: #87986a;
}
.button:hover:enabled {
    color: black;
    border-color: #718355;
    background: #ffd60a;
}
.button:disabled {
    border-color: #9e2a2b;
    background: #e09f3e;
    color: black;
}
.button.in-button{
    width: 32px;
    margin: 0px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
}
.button.submit-button{
    margin: 15px 5px 5px 70px;
    border-radius: 10px;
}
.button.history-button{
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 10px;
}
#submit {
    margin: 15px 5px 0px 70px;
}

.button-div{
    margin: 0px 0px 0px 10px;
}
.main canvas {
    float: right;
    margin-right: 150px;
}
#result-table{
    border-collapse: collapse;
    border: solid 4px #3D0000;
    padding: 0;
    font-size: 15px;
    color: #3D0000;
    margin: 0px 10px;
}
#result-table td, #result-table th{
    border: solid 2px #3D0000;
    text-align: center;
}
#result-table th{

    border-bottom: 2px solid #3D0000;
    padding-left: 2px;
    padding-right: 4px;
}


